{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Apt{% endblock %}</title>

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal_style.css' %}">
  </head>
  <body>
    <!-- 로딩 -->
    {% include "partials/loading.html" %}

    <!-- 모달 -->
    {% include "partials/modal.html" %}

    <!-- 헤더 -->
    {% include "header.html" %}

    <!-- 내용 -->
    <main id="main">{% block content %}{% endblock %}</main>

    <!-- 푸터 -->
    {% include "footer.html" %}
  </body>

  <script>
      document.addEventListener("DOMContentLoaded", function () {
          // 모달 표시
          {% if exception %}
              document.getElementById("modal").classList.add("show");
          {% endif %}

          // 로딩 표시 초기화
          document.getElementById('loading-overlay').style.display = 'none';

          // 모달 닫기 버튼 클릭시
          document.getElementById("closeBtn").addEventListener("click", function () {
              document.getElementById("modal").classList.remove("show");

              // 메인 이동
              window.location.href = "/apt/main"
          });
      });
  </script>
</html>
