<header>
  <form method="get" action="/apt/search" class="search-form">
    <div class="form-group">
      <!-- 시도 선택 -->
      <select name="region_info" hx-get="/apt/get-citys" hx-target="#city_info" hx-trigger="change" class="form-select" 
              {% if search_info is not None %} disabled {% endif%}>
        {% include "partials/region_options.html"%}
      </select>
    </div>

    <div class="form-group">
      <!-- 도시 선택 -->
      <select id="city_info" name="city_info" class="form-select"
              {% if search_info is not None %} disabled {% endif%}>
        {% include "partials/city_options.html"%}
      </select>
    </div>

    <div class="form-group">
      <!-- 날짜 선택 (시작) -->
      <input type="date" name="begin_date" value="{{search_info.begin_date | default:'2024-01-01'}}" class="form-input" {% if search_info is not None %} disabled {% endif%}/>
    </div>
    
    <div class="form-group">
      <!-- 날짜 선택 (종료) -->
      <input type="date" name="end_date" value="{{search_info.end_date | default:'2024-12-31'}}" class="form-input" {% if search_info is not None %} disabled {% endif%}/>
    </div>

    <div class="form-actions">
      <!-- 검색 버튼 -->
      <button type="submit" onclick="onSearchBtnClick()" class="btn btn-primary" {% if search_info is not None %} disabled {% endif%} >검색</button>
      
      <!-- 초기화 버튼 -->
      <button type="button" onclick="onResetBtnClick()" class="btn btn-secondary">초기화</button>
    </div>
  </form>
</header>


<script>

  // 검색버튼 클릭시
  const onSearchBtnClick = () => {
    // 로딩중 표시
    document.getElementById('loading-overlay').style.display = 'flex';
  }

  // 초기화버튼 클릭시
  const onResetBtnClick = () => {
    // 메인 이동
    window.location.href = "/apt/main"
  }
</script>
